In [52]:
# dependencies and set-up
import pandas as pd
import numpy as np

hop_file = ('Resources/purchase_data.csv')
purchase_data = pd.read_csv(hop_file)

# Make column names easier to use
purchase_data.columns = [col.lower().replace(' ','_') for col in purchase_data.columns]
purchase_data.head()

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count
* Display the number of players

In [32]:
number_of_players = len((purchase_data['sn']).unique())

total_players_df = pd.DataFrame({'total_players':[number_of_players]})
total_players_df

   total_players
0            576

## Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Display the summary data frame

In [34]:
unique_items = len((purchase_data['item_id']).unique())

average_price = purchase_data['price'].mean()

number_of_purchases = purchase_data['purchase_id'].count()

total_revenue = purchase_data['price'].sum()

In [35]:
#create dataframe
summary_df = pd.DataFrame({
    'Unique Items': [unique_items],
    'Average Price': [average_price],
    'Purchases': [number_of_purchases],
    'Total Revenue': [total_revenue]
})

In [36]:
#format dataframe
summary_df['Average Price'] = summary_df['Average Price'].map('${:.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)
summary_df

   Unique Items Average Price  Purchases Total Revenue
0           183         $3.05        780     $2,379.77

## Gender Demographics
 
* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [37]:
purchases_grouped_by_gender = (purchase_data.groupby(["gender"]))

unique_sn_by_gender = purchases_grouped_by_gender.nunique()['sn']

gender_percentage = (unique_sn_by_gender/number_of_players)*100
gender_percentage = gender_percentage.map('%{:.2f}'.format)

In [39]:
#create gender demographics dataframe
gender_demographics = pd.DataFrame({
    'Total Count': unique_sn_by_gender,
    'Percentage of Players': gender_percentage
})
gender_demographics.index.name='Gender'
gender_demographics.sort_values('Percentage of Players',ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                %84.03
Female                          81                %14.06
Other / Non-Disclosed           11                 %1.91

## Purchasing Analysis (Gender)
 
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Display the summary data frame

In [43]:
purchase_count = purchases_grouped_by_gender['purchase_id'].count()

avg_total_purchase = purchases_grouped_by_gender['price'].sum()

avg_purchase_price_per_gender = purchases_grouped_by_gender['price'].mean()

avg_purchase_price_per_person = avg_total_purchase/unique_sn_by_gender

In [44]:
purchase_analysis_gender_df=pd.DataFrame({
                    'Purchase Count': purchase_count,
                    'Average Purchase Price': avg_purchase_price_per_gender,
                    'Total Purchase Value': avg_total_purchase,
                    'Average Total Purchase per Person': avg_purchase_price_per_person
})

In [45]:
purchase_analysis_gender_df_formatted = purchase_analysis_gender_df.style.format({
                    'Average Purchase Price':'${:.2f}',
                    'Total Purchase Value':'${:.2f}',
                    'Average Total Purchase per Person':'${:.2f}'
})
purchase_analysis_gender_df_formatted

## Age Demographics
 
* Establish bins for ages

* Categorize the existing players using the age bins

* Calculate the numbers and percentages by age group

* Create a summary data frame to hold the results

* Display Age Demographics Table

In [55]:
age_bins = [0,10,15,20,25,30,35,40,999999]
bin_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-40','40+']

purchase_data['age_group'] = pd.cut(purchase_data['age'],age_bins,labels=bin_names)
purchase_data.head()

,purchase_id,sn,age,gender,item_id,item_name,price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [56]:
age_group = purchase_data.groupby('age_group')

total_count_by_age = age_group['sn'].nunique()

percentage_by_age = (total_count_by_age/number_of_players)*100

In [57]:
age_demographics_df = pd.DataFrame({'Total Count': total_count_by_age,
                                 'Percentage of Players': percentage_by_age})
age_demographics_df = age_demographics_df.style.format({'Percentage of Players': '%{:.2f}'})
age_demographics_df

## Purchasing Analysis (Age)
 
* Bin the purchase_data data frame by age

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

* Create a summary data frame to hold the results

* Display the summary data frame

In [58]:
#count purchases by age group
purchase_count_by_group = age_group['purchase_id'].count()

#average purchase price by age group
avg_purchase_by_age_group = age_group['price'].mean()

#total purchase value by age group
total_purchase_value_by_group = age_group['price'].sum()

#average purchase per person by age group
avg_purchase_per_person_by_age_group = total_purchase_value_by_group/total_count_by_age

In [64]:
purchase_analysis_age_df = pd.DataFrame({
                                    'Purchase Count': purchase_count_by_group,
                                    'Average Purchase Price': avg_purchase_by_age_group,
                                    'Total Purchase Value': total_purchase_value_by_group,
                                    'Average Purchase per Person in Age Group': avg_purchase_per_person_by_age_group
})

In [65]:
purchase_analysis_age_df = purchase_analysis_age_df.style.format({'Average Purchase Price':'${:.2f}',
                                                          'Total Purchase Value': '${:.2f}',
                                                          'Average Purchase per Person in Age Group':'${:.2f}'})


purchase_analysis_age_df

## Top Spenders
 
* Run basic calculations to obtain the results in the table below

* Create a summary data frame to hold the results

* Sort the total purchase value column in descending order

* Display a preview of the summary data frame

In [66]:
#Identify top spenders by total purchase value
purchases_by_sn = purchase_data.groupby('sn')

#get total purchases by ID
purchase_id_count = purchases_by_sn['purchase_id'].count()

#get average purchase by ID
avg_purchase_price_by_sn = purchases_by_sn['price'].mean()

#get total purchase
total_purchase_by_sn = purchases_by_sn['price'].sum()

In [67]:
#create top spenders dataframe
top_spenders_df = pd.DataFrame({
                                'Purchase Count': purchase_id_count,
                                'Average Purchase Price': avg_purchase_price_by_sn,
                                'Total Purchase Value': total_purchase_by_sn
})

In [68]:
#format top spenders dataframe to show top spenders by total purchase value in descending order
top_spenders_df_formatted = top_spenders_df.sort_values(['Total Purchase Value'],ascending=False).head()

top_spenders_df_formatted.style.format({
                                        'Average Purchase Price':'${:.2f}',
                                        'Total Purchase Value':'${:.2f}'
})

## Most Popular Items
 
* Retrieve the Item ID, Item Name, and Item Price columns

* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

* Create a summary data frame to hold the results

* Sort the purchase count column in descending order

* Display a preview of the summary data frame

In [71]:
#create new dataframe with Item ID, Item Name, and Item Price
items_df = purchase_data[['item_id','item_name','price']]
items_df.head()

   item_id                                  item_name  price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [72]:
item_group = items_df.groupby(['item_id','item_name'])

#count how many times an item id has been purchased
purchase_count_items = item_group['item_id'].count()

#get purchase value per item id
purchase_value_items = item_group['price'].sum()

#find individual item price
item_price = purchase_value_items/purchase_count_items

In [73]:
#create most popular items data frame and sort by purchase count
most_popular_items_df = pd.DataFrame({
                                    'Purchase Count': purchase_count_items,
                                    'Item Price': item_price,
                                    'Total Purchase Value': purchase_value_items
})
most_popular_items_df_sorted = most_popular_items_df.sort_values('Purchase Count',ascending=False).head()

In [74]:
#format dataframe
most_popular_items_df_formatted = most_popular_items_df_sorted.style.format({
                                        'Item Price':'${:.2f}',
                                        'Total Purchase Value': '${:.2f}'
})
most_popular_items_df_formatted

## Most Profitable Items
 
* Sort the above table by total purchase value in descending order

* Display a preview of the data frame

In [75]:
#sort most profitable items df by total purchase value
most_profitable = most_popular_items_df.sort_values('Total Purchase Value',ascending=False).head()
most_profitable.style.format({
                            'Item Price':'${:.2f}',
                            'Total Purchase Value':'${:.2f}'
})